.header	{
	display: flex;
	align-items: center;
	/*가운데 정렬*/
	justify-content: space-between;
	height: 80px;
	padding: 0 1rem;
}
.search-form {
	width: 300px;
	max-width: 60%;
}
.primary {
	padding: 1rem;
}
.secondary {
	padding: 1rem;
}
.secondary-a {
	background: white;
}
.secondary-b {
	color: white;
	background: #666;
}
.footer {
	padding: 1rem;
	border-top: 1px solid lightgray;
	text-align: center;
}

@media (min-width: 1024px) {
	.page {
		display: flex;
		flex-wrap: wrap;
	}
	.header {
		width: 100%;
	}
	.menu {
		width: 100%;
	}
	.primary {
		order: 2;
		width: 60%;
	}
	.secondary {
		width: 20%;
	}
	.secondary-a {
		order: 1;
	}
	.secondary-b {
		order: 3;
	}
	.footer {
		width: 100%;
	}
}

@media (min-width: 1400px) {
	.primary {
		
	}
	.secondary {
		
	}
}
